<div id="event">
  <label for="lang_select">Language:</label>
  <select id="lang_select" name="lang" onchange="roll(this)">
    <option value="en" <%= selected_lang('en') %>>BCEN</option>
    <option value="tw" <%= selected_lang('tw') %>>BCTW</option>
    <option value="jp" <%= selected_lang('jp') %>>BCJP</option>
  </select>

  <label for="event_select">Event:</label>
  <select id="event_select" name="event" onchange="roll(this)">
    <optgroup label="Upcoming:">
      <% controller.upcoming_events.each do |(event_name, info)| %>
        <option
          value="<%= event_name %>"
          <%= selected_current_event(event_name) %>>
            <%= show_event(info) %></option>
      <% end %>
    </optgroup>

    <optgroup label="Past:">
      <% controller.past_events.reverse_each do |(event_name, info)| %>
        <option
          value="<%= event_name %>"
          <%= selected_current_event(event_name) %>>
            <%= show_event(info) %></option>
      <% end %>
    </optgroup>
  </select>
</div>
