<div class="find">
  <label for="find_select">Find next:</label>
  <select id="find_select" name="find" onchange="roll(this)">
    <option style="display:none;"></option>

    <optgroup label="Uber:">
      <% gacha.uber_cats.uniq(&:name).each do |cat| %>
        <option value="<%= cat.id %>"
          <%= selected_find(cat) %>><%= cat.name %></option>
      <% end %>
    </optgroup>

    <optgroup label="Super Rare:">
      <% gacha.sr_cats.uniq(&:name).each do |cat| %>
        <option value="<%= cat.id %>"
          <%= selected_find(cat) %>><%= cat.name %></option>
      <% end %>
    </optgroup>

    <optgroup label="Rare:">
      <% gacha.rare_cats.uniq(&:name).each do |cat| %>
        <option value="<%= cat.id %>"
          <%= selected_find(cat) %>><%= cat.name %></option>
      <% end %>
    </optgroup>
  </select>

  <% if gacha.pool.guaranteed_rolls > 0 %>
    <label for="no_guaranteed_input">Exclude guaranteed:</label>
    <input type="checkbox" id="no_guaranteed_input"
      name="no_guaranteed" value="true"
      <%= checked_no_guaranteed %>
      onchange="roll(this)">
  <% end %>

  <label for="add_future_ubers">Add future ubers:</label>
  <select id="add_future_ubers" name="ubers" onchange="roll(this)">
    <% 0.upto(9).each do |n| %>
      <option value="<%= n %>"
        <%= selected_ubers(n) %>><%= n %></option>
    <% end %>
  </select>
</div>
