<div id="form">
  <form method="get" action="<%= controller.path_info %>"
    enctype="application/x-www-form-urlencoded">
    <%= erb :options %>
    <%= erb :events %>
    <%= erb :control %>
    <%= erb :find_cat %>
  </form>
</div>
