<div id="information">
  <% if details %>
    <p>Gacha information:</p>

    <ul>
      <li>
        Rare: <%= gacha.rare / 100 %>%
        (<%= gacha.rare_cats.size %> cats)
        <%= show_gacha_slots(gacha.rare_cats) %>
      </li>
      <li>
        Super: <%= gacha.supa / 100 %>%
        (<%= gacha.supa_cats.size %> cats)
        <%= show_gacha_slots(gacha.supa_cats) %>
      </li>
      <li>
        Uber: <%= gacha.uber / 100 %>%
        (<%= gacha.uber_cats.size %> cats)
        <%= show_gacha_slots(gacha.uber_cats) %>
      </li>
      <li>
        Legend: <%= gacha.legend / 100 %>%
        (<%= gacha.legend_cats.size %> cats)
        <%= show_gacha_slots(gacha.legend_cats) %>
      </li>
    </ul>
  <% end %>
</div>
