<div id="information">
  <% seed_column do %>
    <p>Gacha information:</p>

    <ul>
      <li>
        Rare: <%= gacha.rare / 100 %>%
        (<%= gacha.rare_ids.size %> cats)
        <details><%= gacha.rare_names.join(', ') %></details>
      </li>
      <li>
        SR: <%= gacha.sr / 100 %>%
        (<%= gacha.sr_ids.size %> cats)
        <details><%= gacha.sr_names.join(', ') %></details>
      </li>
      <li>
        Uber: <%= gacha.ssr / 100 %>%
        (<%= gacha.uber_ids.size %> cats)
        <details><%= gacha.uber_names.join(', ') %></details>
      </li>
    </ul>
  <% end %>
</div>
