<div id="information">
  <% if show_details %>
    <p>Gacha information:</p>

    <ul>
      <li>
        Rare: <%= gacha.rare / 100 %>%
        (<%= gacha.rare_ids.size %> cats)
        <%= show_gacha_slots(gacha.rare_names) %>
      </li>
      <li>
        SR: <%= gacha.sr / 100 %>%
        (<%= gacha.sr_ids.size %> cats)
        <%= show_gacha_slots(gacha.sr_names) %>
      </li>
      <li>
        Uber: <%= gacha.ssr / 100 %>%
        (<%= gacha.uber_ids.size %> cats)
        <%= show_gacha_slots(gacha.uber_names) %>
      </li>
    </ul>
  <% end %>
</div>
