<%= erb :form %>

<%= header(1, "Event data links for BC#{controller.lang.upcase}") %>
<ul>
  <% %w[gatya.tsv item.tsv sale.tsv].each do |file| %>
    <li>
      <a href="<%= event_url(controller.lang, file: file) %>"><%= file %></a>
      <% if controller.lang == 'jp' %>
        / <a href="<%= event_url(controller.lang, file: file, kind: '/curl') %>">curl command</a>
        / <a href="<%= event_url(controller.lang, file: file, kind: '/json') %>">headers in JSON</a>
      <% end %>
    </li>
  <% end %>
</ul>

<%= header(1, "What's changed?") %><p></p>
<%= header(2, "2019-01-26") %>
<ul>
  <li>
    I won't update this page merely for event data update any more.
    Not worth the troubles.
  </li>
  <li>Now we serve event data links in this page.</li>
  <li>
    Remove 世界一即戦力になるにゃんこ達！ which lasts to 2030 for BCJP because
    that's for older version (8.1-) and we have another properly scheduled
    event for it, too.
  </li>
  <li>More margin-bottom for ul, remove hr.</li>
  <li>Now we preserve as much as arguments on query string.</li>
  <li>Merge simulation for guaranteed into the same row with find cats.</li>
  <li>Remove unuseful home page link in the bottom.</li>
</ul>

<%= header(2, "2019-01-11") %>
<ul>
  <li>Update BCEN and BCTW event data</li>
  <li>Update data source link to GitLab</li>
</ul>

<%= header(2, "2019-01-07") %>
<ul>
  <li>Update BCJP event data</li>
</ul>

<%= header(2, "2018-12-29") %>
<ul>
  <li>
    Use cell cursor for the table cell so it's more clear
    they are clickable.
  </li>
  <li>
    Add a new feature that we can click on the table cell and it'll highlight
    the rolled cats.
    <span class="picked">Stands for regularly rolled</span> cats, and
    <span class="picked_cumulatively">stands for cumulatively (11 or 15)
    rolled</span> cats. <span class="next_position">Indicates the next
    position</span> after the rolls. Highlights are not preserved for now
    because it's not very easy to implement based on the current approach.
    Maybe we can do that later if needed.
  </li>
  <li>Fix a bug that "Exclude guaranteed" wasn't preserved.</li>
  <li>
    Add white background to guaranteed column if there is a cat.
    This should make it more visually consistent.
  </li>
</ul>

<%= header(2, "2018-12-28") %>
<ul>
  <li>Add change log page with cat job icon</li>
  <li>Add titles to help page and seek page</li>
  <li>
    Slightly enlarge the sniper cat icon to make it more visually balanced
  </li>
</ul>

<%= header(2, "2018-12-27") %>
<ul>
  <li>
    Move the server under control of systemd from screen.
    This should greatly increase the stability of the site,
    because systemd will restart the server once it crashed.
    Previously, I have to restart it manually.
  </li>
</ul>

<%= header(2, "2018-12-26") %>
<ul>
  <li>
    Views are now rendered by tilt and it should improve the performance a bit
  </li>
  <li>
    Now views are also cached once the server started.
    This avoids crashing when the code is updated yet the server
    is not restarted yet. The server may not be restarted immediately if
    someone is trying to find the seed. So this should improve stability.
  </li>
  <li>Some smaller bugs and text are fixed/updated</li>
</ul>
