<p>
  <% if arg[:seed] %>
    <% if arg[:seed].empty? %>
      Unfortunately we didn't successfully find your seed. There could have
      several possible reasons:
      <ul>
        <li>There's a bug.</li>
        <li>You put the cats wrong, or you picked the wrong event.</li>
        <li>The formula changed and we didn't update the code yet.</li>
      </ul>
      Do you want to <a href="<%= seek_uri %>">try again</a>?
    <% else %>
      Your starting seed is
      <a href="<%= "//#{web_host}/?#{query_string({next_seed: arg.dig(:seed, 0)}.merge(default_query))}" %>"><%= arg.dig(:seed, 0) %></a>,
      and after rolling the cats you entered, your seed is
      <a href="<%= "//#{web_host}/?#{query_string({seed: arg.dig(:seed, 1)}.merge(default_query))}" %>"><%= arg.dig(:seed, 1) %></a>.
      If you have other cats rolled without entering the form, count yourself.
      Note that a guaranteed roll counts as a half roll and thus will switch
      your track.
    <% end %>
  <% elsif arg[:seek] %>
    <% if arg[:seek].started? %>
      Now seeking your seed...
    <% else %>
      You're <%= arg[:seek].position %> in the queue.
    <% end %>
    <script type="text/javascript">
      window.setTimeout(function(){ window.location.reload(true) }, 5000);
    </script>
  <% else %>
    Are you <a href="<%= seek_uri %>">seeking</a> the seed?
  <% end %>
</p>
