<div id="form">
  <form method="post" enctype="application/x-www-form-urlencoded">
    <%= erb :events %>

    <ol>
      <% 10.times do %>
        <li>
          <select name="roll">
            <option selected="selected">Pick your roll</option>

            <optgroup label="Rare:">
              <% arg[:rare_cats].each.with_index do |name, slot| %>
                <option value="0-<%= slot %>"><%= name %></option>
              <% end %>
            </optgroup>

            <optgroup label="Super Rare:">
              <% arg[:sr_cats].each.with_index do |name, slot| %>
                <option value="1-<%= slot %>"><%= name %></option>
              <% end %>
            </optgroup>

            <optgroup label="Uber:">
              <% arg[:uber_cats].each.with_index do |name, slot| %>
                <option value="2-<%= slot %>"><%= name %></option>
              <% end %>
            </optgroup>
          </select>
        </li>
      <% end %>
    </ol>
  </form>
</div>
