<div id="form">
  <form method="get" enctype="application/x-www-form-urlencoded">
    <%= erb :events %>
  </form>

  <form method="post" action="//<%= seek_host %>/seek/enqueue"
    enctype="application/x-www-form-urlencoded">
    <ol>
      <% 10.times do %>
        <li>
          <select name="rolls[]">
            <option value="" selected="selected">Pick your roll</option>

            <optgroup label="Rare:">
              <% gacha.rare_cats.each.with_index do |cat, slot| %>
                <option value="0 <%= slot %>"><%= cat.name %></option>
              <% end %>
            </optgroup>

            <optgroup label="Super Rare:">
              <% gacha.sr_cats.each.with_index do |cat, slot| %>
                <option value="1 <%= slot %>"><%= cat.name %></option>
              <% end %>
            </optgroup>

            <optgroup label="Uber:">
              <% gacha.uber_cats.each.with_index do |cat, slot| %>
                <option value="2 <%= slot %>"><%= cat.name %></option>
              <% end %>
            </optgroup>
          </select>
        </li>
      <% end %>
    </ol>

    <input type="hidden" name="event" value="<%= controller.event %>">
    <input type="submit" value="Seek">
  </form>
</div>
