<p>
  <%= erb :help_seek_result %>
  <hr>

  <% if arg[:seed] %>
    <% if arg[:seed].empty? %>
      <ul>
        <li>
          Unfortunately we didn't successfully find your seed. There could have
          several possible reasons:
          <ul>
            <li>There's a bug.</li>
            <li>You put the cats wrong, or you picked the wrong event.</li>
            <li>The formula changed and we didn't update the code yet.</li>
          </ul>
        </li>
        <li>Do you want to <a href="<%= seek_uri %>">try again</a>?</li>
      </ul>
    <% else %>
      <ul>
        <li>
          Your starting seed is:
          <ul>
            <li>
              <a href="<%= uri(query: {next_seed: arg.dig(:seed, 0)}) %>"><%= arg.dig(:seed, 0) %></a>
              (Note that this value has a half roll offset.
              We're showing this only for reference and debugging purpose.)
            </li>
          </ul>
        </li>
        <li>
          After rolling the cats you entered, your last seed is:
          <ul>
            <li>
              <a href="<%= uri(query: {seed: arg.dig(:seed, 1)}) %>"><%= arg.dig(:seed, 1) %></a>
            </li>
          </ul>
        </li>
      </ul>
    <% end %>
  <% elsif arg[:seek] %>
    <% if arg[:seek].started? %>
      <ul><li>Now seeking your seed...</li></ul>
    <% else %>
      <ul><li>You're <%= arg[:seek].position %> in the queue.</li></ul>
    <% end %>
    <script type="text/javascript">
      window.setTimeout(function(){ window.location.reload(true) }, 5000);
    </script>
  <% else %>
    <ul><li>Are you <a href="<%= seek_uri %>">seeking</a> the seed?</li></ul>
  <% end %>
</p>
