<div class="simulate">
  <label for="force_guaranteed_input">Simulate guaranteed:</label>
  <select id="force_guaranteed_input" name="force_guaranteed"
    onchange="roll(this)">
    <% [nil, 11, 15].each do |n| %>
      <option value="<%= n %>"
        <%= selected_force_guaranteed(n) %>><%= n %></option>
    <% end %>
  </select>

  <label for="add_future_ubers">Add future ubers:</label>
  <select id="add_future_ubers" name="ubers" onchange="roll(this)">
    <% 0.upto(9).each do |n| %>
      <option value="<%= n %>"
        <%= selected_ubers(n) %>><%= n %></option>
    <% end %>
  </select>
</div>
