<div id="table">
  <table>
    <th>No.</th>
    <th>Seed</th>
    <th>Result</th>
    <th>Guaranteed</th>
    <th>Alt. result</th>
    <th>Alt. guaranteed</th>
    <th>Seed</th>
    <th>Alt. No.</th>

    <% each_ab_cat do |prev_b, (a, b), next_a, sequence| %>
      <tr>
        <td rowspan="2"><%= sequence %></td>
        <td><%= a.rarity_seed %></td>
        <td class="<%= a.color_label %>"><%= a.score %></td>
        <td rowspan="2"><%= guaranteed_cat(a, sequence, -1) %></td>

        <% if prev_b %>
          <td class="<%= prev_b.color_label %>">
            <%= link_to_roll(prev_b, b) %></td>
          <td><%= prev_b.slot_seed %></td>
        <% else %>
          <td colspan="4"></td>
        <% end %>
      </tr>

      <tr>
        <td><%= a.slot_seed %></td>
        <td class="<%= a.color_label %>">
          <%= link_to_roll(a, next_a) %></td>
        <td class="<%= b.color_label %>"><%= b.score %></td>
        <td rowspan="2"><%= guaranteed_cat(b, sequence, 0) %></td>
        <td><%= b.rarity_seed %></td>
        <td rowspan="2"><%= sequence %></td>
      </tr>
    <% end %>

    <tr>
      <td colspan="4"></td>

      <% last_b = arg.dig(:cats, -1, -1) %>
      <td class="<%= last_b.color_label %>">
        <%= link_to_roll(last_b) %></td>
      <td><%= last_b.slot_seed %></td>
    </tr>
  </table>
</div>
