<div id="table">
  <table>
    <tr>
      <th>No.</th>
      <% seed_column do %><th>Seed</th><% end %>
      <th>Result</th>
      <th>Guaranteed</th>
      <th>Alt. result</th>
      <th>Alt. guaranteed</th>
      <% seed_column do %><th>Seed</th><% end %>
      <th>Alt. No.</th>
    </tr>

    <% each_ab_cat do |prev_b, (a, b), next_a, sequence| %>
      <tr>
        <td rowspan="2"><%= sequence %></td>
        <% seed_column do %><td><%= a.rarity_seed %></td><% end %>
        <td class="<%= a.color_label %>"><%= a.score %></td>
        <td rowspan="2"><%= guaranteed_cat(a, sequence, -1) %></td>

        <% if prev_b %>
          <td class="<%= prev_b.color_label %>">
            <%= link_to_roll(prev_b, b) %></td>
          <% seed_column do %><td><%= prev_b.slot_seed %></td><% end %>
        <% elsif show_seeds %>
          <td colspan="4"></td>
        <% else %>
          <td colspan="3"></td>
        <% end %>
      </tr>

      <tr>
        <% seed_column do %><td><%= a.slot_seed %></td><% end %>
        <td class="<%= a.color_label %>">
          <%= link_to_roll(a, next_a) %></td>
        <td class="<%= b.color_label %>"><%= b.score %></td>
        <td rowspan="2"><%= guaranteed_cat(b, sequence, 0) %></td>
        <% seed_column do %><td><%= b.rarity_seed %></td><% end %>
        <td rowspan="2"><%= sequence %></td>
      </tr>
    <% end %>

    <tr>
      <% if show_seeds %>
        <td colspan="4"></td>
      <% else %>
        <td colspan="3"></td>
      <% end %>

      <% last_b = arg.dig(:cats, -1, -1) %>
      <td class="<%= last_b.color_label %>">
        <%= link_to_roll(last_b) %></td>
      <% seed_column do %><td><%= last_b.slot_seed %></td><% end %>
    </tr>
  </table>
</div>
