<div id="table">
  <table>
    <tr>
      <th>No.</th>
      <% if details %>
        <th>Seed</th>
        <th>Value</th>
      <% end %>
      <th>Score, slot</th>
      <th>Guaranteed</th>
      <th>Alt. score, slot</th>
      <th>Alt. guaranteed</th>
      <% if details %>
        <th>Seed</th>
        <th>Value</th>
      <% end %>
      <th>Alt. No.</th>
    </tr>

    <% each_ab_cat do |prev_b, (a, b), next_a| %>
      <tr>
        <td rowspan="2"><%= a.sequence %></td>
        <%= seed_column(a.rarity_fruit) %>
        <td class="<%= a.color_label %>"><%= a.score %>, <%= a.slot %></td>
        <td rowspan="2"><%= guaranteed_cat(a, -1) %></td>

        <% if prev_b %>
          <td class="<%= prev_b.color_label %>">
            <%= link_to_roll(prev_b, b) %></td>
          <%= seed_column(prev_b.slot_fruit) %>
        <% elsif details %>
          <td colspan="5"></td>
        <% else %>
          <td colspan="3"></td>
        <% end %>
      </tr>

      <tr>
        <%= seed_column(a.slot_fruit) %>
        <td class="<%= a.color_label %>">
          <%= link_to_roll(a, next_a) %></td>
        <td class="<%= b.color_label %>"><%= b.score %>, <%= b.slot %></td>
        <td rowspan="2"><%= guaranteed_cat(b, 0) %></td>
        <%= seed_column(b.rarity_fruit) %>
        <td rowspan="2"><%= b.sequence %></td>
      </tr>
    <% end %>

    <tr>
      <% if details %>
        <td colspan="5"></td>
      <% else %>
        <td colspan="3"></td>
      <% end %>

      <% last_b = arg.dig(:cats, -1, -1) %>
      <td class="<%= last_b.color_label %>">
        <%= link_to_roll(last_b) %></td>
      <%= seed_column(last_b.slot_fruit) %>
    </tr>
  </table>
</div>
