<div id="table">
  <table>
    <tr>
      <th>No.</th>
      <% if details %>
        <th>Seed</th>
        <th>Value</th>
      <% end %>
      <% if details %>
        <th>Score, slot</th>
      <% else %>
        <th>Result</th>
      <% end %>
      <th>Guaranteed</th>
      <% if details %>
        <th>Alt. score, slot</th>
      <% else %>
        <th>Alt. result</th>
      <% end %>
      <th>Alt. guaranteed</th>
      <% if details %>
        <th>Seed</th>
        <th>Value</th>
      <% end %>
      <th>Alt. No.</th>
    </tr>

    <% each_ab_cat do |prev_b, (a, b)| %>
      <tr>
        <td rowspan="2"><%= a.sequence %></td>
        <%= seed_column(a.rarity_fruit) %>
        <td class="score <%= color_label(a) %>"><%= a.score %>, <%= a.slot %></td>
        <td rowspan="2" class="<%= guaranteed_color(a) %>">
          <%= guaranteed_cat(a, -1) %></td>

        <% if prev_b %>
          <td class="cat <%= color_label(prev_b) %>">
            <%= link_to_roll(prev_b) %></td>
          <%= seed_column(prev_b.slot_fruit) %>
        <% elsif details %>
          <td colspan="5"></td>
        <% else %>
          <td colspan="3"></td>
        <% end %>
      </tr>

      <tr>
        <%= seed_column(a.slot_fruit) %>
        <td class="cat <%= color_label(a) %>">
          <%= link_to_roll(a) %></td>
        <td class="score <%= color_label(b) %>"><%= b.score %>, <%= b.slot %></td>
        <td rowspan="2" class="<%= guaranteed_color(b) %>">
          <%= guaranteed_cat(b, 0) %></td>
        <%= seed_column(b.rarity_fruit) %>
        <td rowspan="2"><%= b.sequence %></td>
      </tr>
    <% end %>

    <tr>
      <% if details %>
        <td colspan="5"></td>
      <% else %>
        <td colspan="3"></td>
      <% end %>

      <% last_b = arg.dig(:cats, -1, -1) %>
      <td class="cat <%= color_label(last_b) %>">
        <%= link_to_roll(last_b) %></td>
      <%= seed_column(last_b.slot_fruit) %>
    </tr>
  </table>
</div>
